.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-left: 5%;
}

.App-header {
  background-color: #222222;
  display: flex;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.title{
  font-size: 30pt;
  margin-left: 5%;
  margin-top: 2%;
}

.input_raw {
  resize: none;
  font-size: 30pt;
  clear: both;
}

.input_sha512 {
  resize: none;
  font-size: 15pt;
  clear: both;
}


p.guide_input {
  font-size: 15pt;
  clear: both;
}

.button {
  margin-left: 30%;
}

p.output {
  font-size: 40pt;
  clear: both;
}
p.error {
  font-size: 20pt;
  color:red;
  clear: both;
}

.abst{
  text-align: left; 
  clear: both;
  margin-left: 20%;
  font-size: 12pt;
}

.select{
  font-size: 15pt;
  margin-left: auto;
  margin-right: auto;
  width: 150pt;
}

.guide_type {
  font-size: 15pt;
  margin-left: -30%;
  margin-right: auto;
  float: left;
}


.tweet_error {
  visibility: hidden;
}